<% provide(:title, 'About') %>
<p>Seattle Alerts receives data from data.seattle.gov.  The 911 Police dataset officially states that data is refreshed on a 4 hour interval, but appears to be updated more frequently.  The 911 Fire data set is updated every five minutes.</p>

