<% provide(:title, 'About') %>
<div class="body">
  <body>
    <div class="block">
      <p>Seattle Alerts consumes an API available at <a href="https://data.seattle.gov/Public-Safety/Seattle-Police-Department-911-Incident-Response/3k2p-39jp">data.seattle.gov</a> which is produced by <a href="http://www.socrata.com/">Socrata</a>.  The City of Seattle reports that the dataset is refreshed on a 4 hour interval, but is sometimes updated more frequently.  The 911 Fire data set is updated every five minutes.</p>
    </div>  
  </body>
</div>  
