<head>
  
</head>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript">
</script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'>
</script>
<title>Seattle Map</title>
<div class="body">
  <body>
    <div class="p"> 
      <p>Explore the map below to obtain detailed information.</p>
    </div> 
    <div class="googlemap">
      <div>
        <div id="map" style='width: 1000px; height: 700px;'></div>
      </div>
    </div>   
    <script type="text/javascript">
      handler = Gmaps.build('Google', { markers: { maxRandomDistance: null } });
      handler.buildMap({ provider: { Zoom: 12}, internal: {id: 'map'}}, 
        function(){
        markers = handler.addMarkers(<%=raw @police_hash.to_json %>);
        markers = handler.addMarkers(<%=raw @fire_hash.to_json %>);
        markers = handler.addMarkers(<%=raw @home.to_json %>);
        handler.map.centerOn({ lat: 47.6101798, lng: -122.3423919});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    </script>
    <!--<%= render 'static_pages/twitter' %>-->
    </div>
  </body>
</div>
