<head>
  <style>
    #map_canvas {
      width: 910px;
      height: 900px;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script>
    function initialize() {
      var map_canvas = document.getElementById('map_canvas');
      var map_options = {
        center: new google.maps.LatLng(47.6082992, -122.3413717),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(map_canvas, map_options)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <p>Explore the map below to obtain detailed information.</p>
  <div id="map_canvas"></div>
</body>



