<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Information provided:</h3>
    <p>Email: <%= @subscriber.email %></p>
    <p>Street Adress: <%= @subscriber.street %></p>
    <p>Alert Distance: <%= @subscriber.radius %></p>
    <br/>
    <p>© 2015, Seattle Alerts </p>
  </body>
</html>