<% provide(:title, @subscriber.email) %>
<section>
  <div class="body">
    <body>
      <div class="p">
        <p>Thank you! You'll receive an email at <%= @subscriber.email %>.</p>
      </div>  
    </body>
  </div>
</section>      