@import "bootstrap";

body {
  padding-top: 50px;
}

/* typography */

p {
  font-size: 1.1em;
}

/* header */

#logo {
  margin-right: 30px;
  color: #cccccc;
  letter-spacing: 0.5 px;
  line-height: 4;
}

#logo:hover {
  color: #fff;
}


