// import the CSS framework
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro);

// override for the 'Home' navigation link

* h1, h2, h3, h4, h5, h6, p, label, input, input.button {
  font-family: 'Source Serif Pro', serif;
}

a {
  font-size: rem-calc(17) !important;
  font-family: 'Source Serif Pro', serif !important;
}

// change .container with media queries
@media screen and (min-width:900px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

body {
  background: url('/assets/COA_Seattle.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.googlemap #map {
  width: 100%;
}

@media screen and (max-width:1000px) {
  .googlemap #map {
  width: 600px;
 }
}

div.alert.alert-notice {
  background-color: green;
  color: rgba(250,250,250,1.0);
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 30%;
  font-family: 'Source Serif Pro', serif;
}

#map img { max-width: none; }
#map label { width: auto; display:inline; }
.map_container img{max-width: none;}

.top-bar {
  width: 100%;
  margin: 0 auto;
  font-family: 'Source Serif Pro', serif;
}
.top-bar .name {
  line-height: 45px;
  font-family: 'Source Serif Pro', serif;
}
.top-bar .name a {
  font-size: rem-calc(17);
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.top-bar-section .has-dropdown {
  font-size: rem-calc(17);
  font-family: 'Source Serif Pro', serif;
}


.mainpage {
  .googlemap {
    @extend .small-8;
    @extend .columns;
    padding: 0 0 50px 0;
  }
  .twitter {
    @extend .small-3;
    @extend .columns;
    padding: 0 40px;
  }
}

.slogan .real {
  padding: 10px 0 0 0;
}

.form {
  background-color: rgba(250,250,250,0.6);
  border: solid rgba(250,250,250,0.6);
  border-width: 10px;
}

.form, label {
  font-weight: bold;
}

.block {
  background-color: rgba(250,250,250,0.9);
  border: solid rgba(250,250,250,0.9);
  border-width: 10px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(4);
  padding: 0 0 0 0;
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .tiny;
  @extend .round;
  font-size: rem-calc(13);
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
}
