@import "foundation";

$alert-font: Helvetica, Verdana, Arial, Sans-Serif;

h1, h2, h3, h4, h5, h6, p, label, input, input.button, tr, .infowindow, a#title, a#about, a#signin, a#informed, a#myalerts, a#account, a#signout, a#delete, div.alert.alert-notice, div.alert.alert-error, div.alert-box.alert {
  font-family: $alert-font;
}

body {
  background: url('/assets/COA_Seattle.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width:999px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  a#title {
    font-size: rem-calc(17);
  }
  a#signin, a#signout {
    padding-right: 0px;
  }
  a#title, a#about, a#signin, a#informed, a#myalerts, a#account, a#signout, input.button.tiny {
    font-weight: 300;
  }
  label {
    font-weight: 500px;
  }
  div.googlemap {
    position:fixed !important;
    position:relative;
    margin-top: 5px;
    top: 100px;
    bottom: 0;
    width: 1000px;
  }
  div.form {
    width: 334px;
  }
  div.slogan {
    padding-top: 10px;
  }
}

@media screen and (max-width:1000px) {
  li#home.name, .real h4, .p { 
    padding-left: 10px; 
  }
  div.block {
    width: 100%;
  }
}

@media only screen and (min-width:451px) and (max-width:999px) {
  a#title, a#about, a#signin, a#informed, a#myalerts, a#account, a#signout {
    font-weight: 300;
  }
  a#title {
    font-size: rem-calc(17);
  }
  label {
    font-weight: 500;
  }
  div.form {
    width: 334px;
    margin-left: 10px; 
  }
  div.googlemap {
    position:fixed !important;
    position:relative;
    margin-top: 5px;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  h4 {
    margin-top: -5px;
  }
  div.slogan {
    padding-top: 10px;
  }
}

@media screen and (max-width:450px) {
  a#title, a#about, a#signin, a#informed, a#myalerts, a#account, a#signout, label {
    font-weight: 400;
  }
  a#title {
    font-size: rem-calc(20);
  }
  li#home.name {
    height: 40px;
    padding-bottom: 10px;
  }
  label, input.button.tiny {
    font-weight: 500;
  }
  div.form {
    width: 100%;
  }
  div.googlemap {
    position:fixed !important;
    position:relative;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slogan {
    height: 0;
  }
  .real {
    visibility: hidden;
  }
  p {
    font-size: rem-calc(15);
  }
}

div.googlemap div#map {
  width: 100%;
}

div#map {
  position:absolute;
  height: 100%;
}

#map img { max-width: none; }
#map label { width: auto; display:inline; }
.map_container img{ max-width: none; }

div.googlemap, .form, .about, .block  {
  border: solid rgba(250,250,250,1.0);
  border-width: 10px;
}

.infowindow {
  color: #2a2a2a;
  font-weight: 500;
  width: 190px;
}

.alert-info {
  font-weight: 600;
}

a#delete {
  font-size: rem-calc(14);
  color: grey;
  padding-left: 7px;
}

a#delete:hover {
  color: #CC3428;
}

table {
  background-color: rgba(250,250,250,0.5);;
}

th {
  font-family: bold;
  font-family: $alert-font !important;
}

h4.show {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
  height: 36px;
  background-color: rgba(250,250,250,0.5);;
}

div.alert.alert-notice {
  background-color: green;
  color: rgba(250,250,250,1.0);
  padding-left: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

div.alert.alert-error {
  background-color: red;
  color: rgba(250,250,250,1.0);
  padding-left: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
}

div.alert-box.alert {
  border-radius: 5px;
  color: rgba(250,250,250,1.0);
}

.top-bar {
  width: 100%;
  margin: 0 auto;
}

.top-bar .name {
  line-height: 45px;
}

a#about, a#signin, a#informed, a#myalerts, a#account, a#signout {
  font-size: rem-calc(17);
  color: #FAFAFA;
}

a#title {
  color: #FAFAFA;
}

a#title:hover {
  color: #CC3428;
  font-weight: 400;
}

.real {
  text-align: center;
}

.about, .block {
  background-color: rgba(250,250,250,0.7);
  padding-left: 5px;
  padding-top: 10px;
}

.form {
  background-color: rgba(250,250,250,0.8);
  padding-left: 5px;
  padding-bottom: 10px;
  text-transform: lowercase;
}

.radio {
  border: solid #d3d3d3;
  border-width: 1px;
  background-color: white;
  padding-top: 5px;
  margin-bottom: 5px;
  height: 37px;
}

input#subscriber_password, input#session_email {
  margin-bottom: 5px;
}

label.password, label.email {
  padding-top: 10px;
}

label {
  padding-left: 5px;
}

input.button.tiny {
  font-size: rem-calc(14);
  background-color: #CC3428;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #FAFAFA;
}

input#subscriber_radius_05, input#subscriber_notify_false {
  margin-left: 10px;
}

#contacts {
  text-align: center;
}

img.contact {
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 10px;
}
