@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro);

@media screen and (min-width:999px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  a#signin {
    padding-right: 0px;
  }
  div.googlemap {
    position:fixed !important;
    position:relative;
    margin-top: 5px;
    top: 100px;
    bottom: 0;
    width: 1000px;
  }
}

@media screen and (max-width:1000px) {
  li#home.name, .real h4, .p { 
    padding-left: 10px; 
  }
  div.block {
    width: 100%;
  }
}

@media only screen and (min-width:451px) and (max-width:999px) {
  div.form {
    width: 334px;
    margin-left: 10px; 
  }
  div.googlemap {
    position:fixed !important;
    position:relative;
    margin-top: 5px;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  h4 {
    margin-top: -5px;
  }
}

@media screen and (max-width:450px) {
  div.form {
    width: 100%;
  }
  div.googlemap {
    position:fixed !important;
    position:relative;
    margin-top: 5px;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .real {
    visibility: hidden;
  }
}

div.googlemap div#map {
  width: 100%;
}

div#map {
  position:absolute;
  height: 100%;
}

#map img { max-width: none; }
#map label { width: auto; display:inline; }
.map_container img{ max-width: none; }

div.googlemap {
  border: solid rgba(250,250,250,0.9);
  border-width: 10px;
}

.infowindow {
  color: #2a2a2a;
}

* h1, h2, h3, h4, h5, h6, p, label, input, input.button, th, tr, .infowindow {
  font-family: 'Source Serif Pro', serif;
}

a {
  font-size: rem-calc(17) !important;
  font-family: 'Source Serif Pro', serif !important;
}

a#delete {
  color: grey;
}

a#delete:hover {
  color: #CC3428;
}

li#home.name a:hover {
  color: #CC3428;
}

table {
  background-color: rgba(250,250,250,0.5);;
}

th {
  font-family: bold;
}

h4.show {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
  height: 36px;
  background-color: rgba(250,250,250,0.5);;
}

body {
  background: url('/assets/COA_Seattle.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.alert.alert-notice {
  background-color: green;
  color: rgba(250,250,250,1.0);
  padding-left: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Source Serif Pro', serif;
  border-radius: 5px;
}

div.alert.alert-error {
  background-color: red;
  color: rgba(250,250,250,1.0);
  padding-left: 5px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Source Serif Pro', serif;
  border-radius: 5px;
}

div.alert-box.alert {
  border-radius: 5px;
  color: rgba(250,250,250,1.0);
}

.top-bar {
  width: 100%;
  margin: 0 auto;
  font-family: 'Source Serif Pro', serif;
}

.top-bar .name {
  line-height: 45px;
  font-family: 'Source Serif Pro', serif;
}

.top-bar .name a {
  font-size: rem-calc(17);
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.top-bar-section .has-dropdown {
  font-size: rem-calc(17);
  font-family: 'Source Serif Pro', serif;
}

.slogan .real {
  padding: 10px 0 0 0;
}

.real {
  text-align: center;
}

.form, .about, .block {
  background-color: rgba(250,250,250,0.7);
  border: solid rgba(250,250,250,0.9);
  border-width: 10px;
}

.form, label {
  font-weight: bold;
}

input.button.submit {
  background-color: #CC3428;
  border-radius: 5px;
}

#contacts {
  text-align: center;
}

img.contact {
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: 10px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(4);
  padding: 0;
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .tiny;
  @extend .round;
  font-size: rem-calc(13);
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
}
