<div class="infowindow">
  <span class="alert-info"><%= fire_alert.fire_type.downcase.titleize %></span><br/>
  <span><%= fire_alert.address %></span><br/>
  <span><%= fire_alert.datetime.squish %></span>
</div>  