<div class="infowindow">
  <span class="alert-info"><%= fire_alert.fire_type.downcase.titleize %></span><br/>
  <span><%= fire_alert.address %></span><br/>
  <span><%= I18n.l(fire_alert.datetime, format: :long).squish %></span>
</div>  