<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Seattle Alerts", root_path, id: "logo" %>
      <%= link_to "About", about_path, id: "logo" %>
        <div class="nav pull-right">
          <%= link_to "Stay Informed", '#', id: "logo" %>             
          <%= link_to "Sign In", '#', id: "logo" %>
        </div>
    </div>
  </div>
</header>




