<div class="row-fluid">
  <div class="span3"><%= image_tag("spaceneedle.jpg", alt: "SpaceNeedle") %></div>
  <div class="span6"><h3>Real time Police and Fire 911 call data for Seattle.</h3></div>
</div>
